[2011-09-15 19:15] tswicegood opened #4 "Installation issues with non-distribute install"
Got a few reports of this at DjangoCon last week.  Needs a bit more investigation.

[2011-09-15 19:25] tswicegood opened #5 "Create importor for NITF data"
See [website](http://www.iptc.org/cms/site/index.html?channel=CH0107) for more information about format.

[2011-09-15 19:27] tswicegood commented on #5
See also the [WordPress importer](https://github.com/armstrong/armstrong.utils.importers.wordpress) for more info on how to go about writing an importer.

[2011-09-15 19:32] tswicegood commented on #4
@jefftriplett reported this.  I was able to quickly reproduce it on my laptop at DjangoCon, but wasn't able to do it back at the office on my iMac. :-/

[2011-09-15 19:37] tswicegood commented on #4
Via IRC, this appears to be present with the OSX vanilla Python.  I've been testing at the office with the Homebrew 2.7.2 version.  Here's [a gist](https://gist.github.com/1220242) of the error.

[2011-09-15 19:58] tswicegood commented on #4
Tracked this down to `armstrong.core.arm_sections`.  It installs distribute as part of its setup so it can do a `pip install`.  Testing w/o distribute to see if it's absolutely necessary.

[2011-09-15 20:30] tswicegood commented on #4
I've been able to confirm that [commit 25f39c6](https://github.com/armstrong/armstrong.core.arm_sections/commit/25f39c65ba8fd75c352b8a45f5395e8ca2d8d318) fixes this.  @jefftriplett also confirmed for me that `pip install armstrong` works for him now.

[2011-09-15 20:30] #4 closed, assigned to nobody

[2011-09-19 18:40] tswicegood opened #6 "Create docs.armstrongcms.org"
Need to setup the site, make sure the dns is pointed to GH, and rough in the first pass at the docs.

[2011-09-19 19:04] tswicegood opened #7 "Add comments to the standard template"
It's a good idea to show using Django's built in comments app inside the demo project.  It's easy enough for people to switch out to other commenting systems if they want, but having comments baked in would be a good start.

[2011-09-19 19:11] tswicegood opened #8 "Demo paywall code usage in standard template"
The standard template needs to show off how to use the paywall to restrict content.

[2011-09-19 19:12] tswicegood commented on #8
@dmclain: I've assigned this one to you since you know that code the best.  If you're looking for a [yak to shave](http://en.wiktionary.org/wiki/yak_shaving), this would be a good case for a separate template that you could specify via an `armstrong init --template=standard_paywall <some dir>`.

[2011-09-19 19:13] tswicegood opened #9 "Add support for BrainTree via donations backend"
Would be awesome to support their API.  More info [at their website](http://www.braintreepayments.com/).  Nobody's using it just yet, but no one will if we don't support it. :-)

[2011-09-20 14:34] tswicegood opened #10 "Use a real webserver instead of Django's runserver for `armstrong runserver`"
There's no reason to use Django's server.  `armstrong runserver` could just as easily use [Gunicorn](http://gunicorn.org/) or something else.  @tswicegood got a local copy working relatively easily, but we need to address possible issues with people not wanting to/having the ability to install things such as Gunicorn.

[2011-09-20 14:35] tswicegood commented on #10
Ideally this uses `entry_points` to allow adding different backend servers.  By default we could use Django's built-in `runserver` command, but also have the ability to use Gunicorn, cherry.py, or something all together different.

[2011-09-20 18:33] dmclain commented on #8
you want it separate from the demo project?

[2011-09-20 18:37] tswicegood commented on #8
@dmclain: it'd be cool if there was a separate template for generating a paywalled site.  We had talked about the idea of the manifest allowing an "extends" command so one template could override certain parts of another template.  This would be a place for that.

Again though, it's in the "nice to have" category, not something that's needed.

[2011-09-20 21:00] tswicegood opened #11 "Update links on main website to point to armstrong user, not repo"

[2011-09-20 21:01] tswicegood commented on #11
@tinio, can you update this.  Got pinged privately with a "where's all of the code" because we deep link from the site into the main `armstrong` repository.  Makes sense to point people to the organization page rather than the repo since it can be a bit unnerving.

[2011-09-21 14:03] tinio commented on #11
@tswicegood, There are two links to github right now, one goes to:

http://github.com/armstrong

the other goes to the contributing page:

http://github.com/armstrong/armstrong/wiki/Contributing

Did you mean that I should change the contributing link to just http://github.com/armstrong as well?

[2011-09-21 15:08] tswicegood commented on #11
Hmm...  Maybe this was a bogus report.  I got a report that we had a link into the repo, not the organization.  Guess if we don't, we're ok.

[2011-09-21 15:08] #11 closed, assigned to tinio

[2011-09-22 04:52] martey opened #12 "armstrong.hatband needs a Site created"
I created a new Armstrong project with `armstrong init` and `armstrong syncdb`. Upon running `armstrong runserver`, I received the "Welcome to Armstrong" page, but `/admin/` brought up an `Site.DoesNotExist` error. This was fixed by manually creating a Site through `armstrong shell`, but I see how this could seriously confuse newcomers to Armstrong.

I think that this could be fixed by updating `a

[2011-09-22 20:08] dmclain opened #13 "Set SECRET_KEY to a sane default"
We can pretty easily create some crypto-gibberish and add it via the template system. That would be better than assigning ''

[2011-09-22 20:11] tswicegood commented on #13
Do we not already do that?  I thought we were using the same pattern that Django uses to generate that string.

[2011-09-22 20:15] tswicegood commented on #12
@martey: we definitely need to handle this a bit better.  The problem is going to be with `armstrong init` the DB isn't setup.  This might be a documentation thing more than something that happens automatically.  We can do it with `armstrong init --demo` because we're creating a full database at that point.

Would docs be enough here, or do you think we should do something else?  Maybe add an `arm

[2011-09-22 20:20] dmclain commented on #13
We're just setting it to the empty string
https://github.com/armstrong/armstrong.cli/blob/master/armstrong/cli/templates/standard/settings/defaults.py#L82

Compared to:
https://github.com/django/django/blob/master/django/core/management/commands/startproject.py#L32

[2011-09-22 20:21] dmclain commented on #13
Apparently I don't know how to use GH

[2011-09-22 22:40] martey commented on #12
I like the idea of an `armstrong createsite` command. Maybe it could integrate with `armstrong syncdb`, like the `createsuperuser` management command in `django.contrib.auth`?

[2011-09-23 16:13] tswicegood commented on #13
Gah.  I love it when Django has these useful little functions tucked away inside completely unrelated code.  Copy-n-paste I guess. :-/

[2011-09-26 19:40] tswicegood opened #14 "Add support for auto-loading everything in the `apps` directory to the default settings"
The `settings.defaults` module should have a one-liner that can be commented out that allows auto-discovering all "apps" inside the `<project>/apps/` directory.  Something like:

[code]

This would be a good time to move the `settings.project_dir` function into a `settings.helpers` module as well.

[2011-09-26 19:48] tswicegood commented on #14
While it's best to make sure that apps are separate and installable, it's nice for testing to just throw them in an `./apps/` directory and have everything wired up.

[2011-09-27 18:01] tswicegood opened #15 "Add ability to "layout" a page with multiple tabs"
The ability to create pages that are more complex than a regular story is key to an engaging, unique site.  One thing that we keep running into at the Tribune is the ability to do stories that have an article, a video or images, and some sort of interactive (whether we wrote it or its embedded).  An example of this is [Stay of Execution Could Give Death Row Inmate Another Day in Court](http://www.

[2011-09-30 19:34] niran opened #16 "arm_wells views should be able to fail gracefully when there's no well"
See https://github.com/armstrong/armstrong.core.arm_wells/commit/acdfb8c50aae23b92bffac19e0f168b68d2f99e8#L0R18

[2011-10-01 22:31] tswicegood commented on #6
This is live now.  Closing and will open-specific tickets as they need to be tracked.

[2011-10-01 22:31] #6 closed, assigned to tswicegood

[2011-10-01 22:33] tswicegood commented on #9
Closing this, as we're going to get it now as part of the use migration to [merchant](https://github.com/agiliq/merchant).

[2011-10-01 22:33] #9 closed, assigned to nobody

[2011-10-01 22:39] tswicegood commented on #13
I'm marking this as a bug.  We need to roll a 1.0.1 release with this change in at some point very soon.

[2011-10-03 18:43] Jbonnett opened #17 "Django 1.4 and armstrong.dev do not get along."
https://gist.github.com/c363c0c34a76b8308f2b

Thats the error from alerts but any of the fab tests that use the VirtualDjango facility have the same problem.

[2011-10-03 19:26] tswicegood commented on #13
Fixed this in [armstrong/armstrong.cli v1.0.1](https://github.com/armstrong/armstrong.cli/commit/4af8761d7ea817466d963cadda5961cda9bf9166)

[2011-10-03 19:26] #13 closed, assigned to tswicegood

[2011-10-03 19:39] tswicegood commented on #17
@Jbonnett: do you have the test case that was causing this and the command you were executing?  I assume a straight `fab test`?

[2011-10-03 19:55] Jbonnett commented on #17
Yep. Its fab test on anything that using virtual django. Basically anything but the audio and video back ends. The only trick is to set up django 1.4 in your dev env. But that is as simple as checking it out  and putting it in your python path.

[2011-10-04 16:45] tswicegood opened #18 "Tests fail inside a project"
Currently if you try to run the tests for Armstrong projects that have a `_support` app, they fail.  This is a false failure.  All tests do pass in isolation, but these tests fail because of a lack of their `<name>_support` app being installed.

Apps in the current `11.09.0` release that are effected:
- armstrong.core.arm_access
- armstrong.core.arm_content
- armstrong.core.arm_layout
- armstrong.

[2011-10-05 18:21] dmclain commented on #8
This happened in a3560b4cd8ab89892aecf57c0a740c661ed7f67e

[2011-10-05 18:21] #8 closed, assigned to dmclain

[2011-10-05 19:15] tswicegood opened #19 "The JSON values for content types in Hatband are borked"

[2011-10-05 19:16] tswicegood commented on #19
I botched this one -- duplicate models get squashed into the same key when it builds the list of different content types to filter by.  The fix is to use something unique for the key, rather than the model name.

[2011-10-06 03:10] rlander opened #20 "Error when installing from github and pip"
Hello developers!

I've tried to install Armstrong multiple times in a separate and clean virtualenv and I always get the same error:

Caught TypeError while rendering: **init**() keywords must be strings

Not sure what's going on. Seems to be a a custom tag error, but I could not debug it.

Here's the full traceback:
http://dpaste.com/628463/

Thanks!

Rodrigo Landerdahl

[2011-10-06 05:05] dmclain commented on #20
Looks like the function we're using to parse tags (which is from django) creates dictionaries with unicode keys (see https://github.com/kylemacfarlane/django-cuddlybuddly-thumbnail/issues/5). It works in python 2.7.x, not sure what the lowest version of python we support is, but I thought it was 2.7. @tswicegood would know.

[2011-10-06 06:35] rlander commented on #20
That seems to be the problem indeed. I am using 2.6 so I'll try 2.7 tomorrow and let you know how it goes.

[2011-10-06 13:55] tswicegood commented on #20
Thanks for the report.  This does look like it's a bug on the Django side, but it looks like something we can possibly fix on our end.

That said, Python 2.7 is the official "yes, it works here" version for Armstrong.  We're trying to support 2.6.x as well, but we haven't gone out of our way.

[2011-10-06 17:56] tinio opened #21 "Point to a sample salesforce apps.crm backend from The Bay Citizen"
Looks like work is already started on this:
https://github.com/Jbonnett/armstrong.apps.crm.backends.salesforce

Simply adding issue to keep track.

[2011-10-06 18:59] tswicegood commented on #21
FWIW, the plan at the @TexasTribune is to build the SugarCRM inside the `texastribune` namespace.  I'm a fan of doing that with the SalesForce too.  I don't have any interest in maintaining a SalesForce backend, and I imagine you guys don't have an interest in maintaining a SugarCRM backend. :-)

[2011-10-06 19:11] crccheck commented on #20
I tried reproducing this on python 2.6.6 and couldn't. (I did get another error I'm going to try and look into deeper later)

[2011-10-07 16:07] tinio commented on #21
@tswicegood completely agree.  I'll rename the issue to convey that we are pointing to a `sample` implementation of salesforce from The Bay Citizen.

[2011-10-07 19:30] rlander commented on #20
I installed Armstrong today on a fresh VM (ubuntu 11.4 / python 2.7.1) and it worked fine.

It's still not working on the original machines (ubuntu 9.10 and osx), though. I'll take a closer look this weekend.

BTW, why is there a separate CLI for armstrong, instead of manage.py commands?

[2011-10-07 20:33] tinio opened #22 "add disqus commenting to project templates"

[2011-10-07 20:46] dmclain opened #23 "Use Github as a project template directory"
We could iterate faster on demo projects/starter projects if they weren't packaged inside armstrong.cli.

After implementing this you'd be able to do: `armstrong init --template=jrhacker/demo foo` which would do a git clone of git://github.com/jrhacker/demo.git or possibly git://github.com/jrhacker/armstrong.templates.demo.git and run the same processes that we do now (running the template engine

[2011-10-07 20:58] crccheck commented on #23
I don't like the idea of introducing all those assumptions and lock-ins to git and github. I do like this idea a lot.

What if we adopted pip style editable urls?

What about a shortcut command `--githubtemplate=jrhacker/demo` that would expand to `--template=git://github.com/jrhacker/demo` or whatever the proper uri is. Because those full URIs are a PITA.

The main use case I'm thinking of is the

[2011-10-07 21:25] dmclain commented on #23
I like that a lot, if we simplify it to the point where it's downloading a tarball from any arbitrary url and we also support --github shortcuts, that would be extremely flexible

[2011-10-07 21:44] tswicegood commented on #23
-0 on this.  I like the idea of templates being repositories that are stand-alone, but I think they should be installed to work.  Maybe this could be done in a way that using a github URL would install it if it's not available?

[2011-10-07 21:47] dmclain commented on #23
What does installation gain you?

[2011-10-07 21:57] crccheck commented on #23
well, i think `--githubtemplate=rails/rails` should work, even if it doesn't do anything :D

[2011-10-09 21:25] tswicegood commented on #23
So there are a couple of potential things:
1. I don't want to require a network connection to run init.  If we have a way that you can install, I'd prefer just to keep it locally.
2. How would you create a list if everything's remote?  Ideally third-parties can contribute code that would show up in an `armstrong list_templates` listing.
3. How do you handle code duplication if everything is comple

[2011-10-09 21:27] tswicegood commented on #22
This belongs in the `standard` project in `armstrong.cli`.  The `demo` project template should probably also have comments added, but that one would ideally have some faux-comments back-filled in.  Probably worth talking with the Disqus guys to see what the best way about doing that is.

[2011-10-09 21:29] tswicegood commented on #22
Another thing to do here is put the configuration inside a `settings.extras.disqus` module and comment it out inside the main `settings.defaults` along with comments explaining how to turn it on/off and how when you'd want to put that information inside `settings.development` and `settings.production` instead of site-wide.

[2011-10-09 21:31] tswicegood commented on #20
Hey @rlander: we've worked out what the problem is, but we haven't tracked down the specific version where the problem was introduced.  We have a fix in the works so it will work on the older versions of Python, but 2.7 is the official recommendation for Armstrong.

About `armstrong` instead of `manage.py`, that's a question better suited to the mailing list.

[2011-10-10 05:39] crccheck commented on #23
well, since this feature is for developers, we can throw in some hurdles. Maybe even make it an undocumented command.

[2011-10-10 19:05] rlander commented on #20
Thanks for the update, @tswicegood. I'll send my question to the mailing list.

[2011-10-13 04:47] martey opened #24 "armstrong startapp command create applications inside settings directory"
On [a post on the django-developers mailing list](https://groups.google.com/forum/#!topic/django-developers/RLcKN_9zKYs), Carl Meyer wrote:

`armstrong startapp` seems to follow this behavior, as new applications are created inside the settings subdirectory of the project. Regardless of whether Django decides to create new applications within the project directory, I think it makes sense for Armst

[2011-10-17 17:57] niran opened #25 "Tutorials need to mention prerequisites"
For instance, PIL requires additional development packages (`sudo aptitude build-dep python-imaging`) to be present at build time to be useful.

[2011-10-17 18:00] niran commented on #25
Actually, the command I mentioned isn't enough.

[2011-10-17 18:12] Jbonnett commented on #25
you need python-dev too. We have a list here from getting Sergio set up. Someone on will have to figure out the same on a mac from a fresh install.

[2011-10-17 18:48] niran commented on #25
Ubuntu 11.10's multiarch support makes PIL not find the libraries it needs. This should fix it on 64-bit machines:

[code]

For 32-bit installations, replace x86_64 with i386.

[2011-10-19 23:07] tswicegood opened #26 "Remove `--no-deps` from the reinstall process when testing"
No reason to do a `pip install --no-dep .` when testing, should install any dependencies.

[2011-10-20 02:31] martey opened #27 "Make it easier to reorder sections."
`Sections` currently have a tree_id field that determines their order, but there isn't currently a user-friendly way to reorder them, like [django-mptt's `FeinCMSModelAdmin`](http://django-mptt.github.com/django-mptt/admin.html#feincmsmodeladmin).

[2011-10-20 17:20] dmclain commented on #20
Closing this since it works as designed on 2.7

[2011-10-20 17:20] #20 closed, assigned to nobody

[2011-10-20 17:21] dmclain commented on #19
We need a better answer for this long term, but this isn't really a bug, just a difficulty when we update the demo and have to regenerate the DB. Closing

[2011-10-20 19:57] tswicegood commented on #19
Re-opening -- this is a borked bug in the logic of Hatband.  It change to VisualSearch though. :-/

[2011-10-24 20:24] tswicegood commented on #27
Hey @martey -- sorry, thought I'd replied to this already.  Can you point me in the direction of which feature you're talking about so we're on the same page?  Is it the `+` and `-` symbols on this screenshot from their docs that you're after?

![admin screenshot](https://img.skitch.com/20111024-x4mb3f8dc7wiphdnunb2r5yaf5.png)

[2011-10-24 20:44] dmclain opened #28 "Proposal for get_absolute_url/default urls"
One of the issues we kicked down the road for our 11.09 release was shipping default urls on a per app basis. Since we make no assumptions about implementors' url schemes, we have a less than great implementation for get_absolute_url in armstrong.core.arm_content that calls out to a function in the user's ROOT_URLCONF called get_url_for_model. That function will end up being a giant switch stateme

[2011-10-24 20:45] dmclain commented on #28
One of the things i'm not exactly clear on is the matching done off of `__name__` for configurable_urls

[2011-10-24 22:45] dmclain opened #29 "Using hatband's BackboneInline breaks reversion"
Well nodes aren't saved in the django-reversion history of a well.

[2011-10-25 07:43] martey commented on #27
Hi @tswicegood, I apologize for not being clear. Based on my reading of FeinCMS' documentation, they have JavaScript-enabled drag-and-drop for changing the order of tree nodes. I think this screenshot (from a post on their Google Group) illustrates it (the "Sik Sorulan Sorular" node is being moved):

![drag-and-drop](http://i.imgur.com/noqIv.png)

[2011-10-25 14:08] tswicegood commented on #27
Gotcha.  I think this is definitely cool to implement, but I'm not sure when we'll be able to add it.  If you're interested in taking a stab at it I'll be happy to answer questions and guide you through what would need to be done.

[2011-10-25 14:12] tswicegood commented on #22
Closing a this already opened in #7.  Forgot I had added.

[2011-10-25 14:12] #22 closed, assigned to tinio

[2011-10-27 14:47] tswicegood commented on #28
The idea is that the `configurable_urls` would be able to key off of the module name to figure out which matching URLs it has.  Basically, it would use that to figure out the app, then load that app's models, then register that model's urls based on which backends in `ARMSTRONG_URL_BACKENDS` said they could deal with that app_label/model.

[2011-10-28 00:10] niran opened #30 "Adding multiple instances of the same item to a well causes an IndexError"
Consider a well with two `Story` nodes, both of which refer to the same `Story`. In `GenericForeignKeyQuerySet._prep()`, `ordering` will end up with a value like `{u'story.28461': 1}`, which has a length of one, while `model_data.["objects_ids"]` will be something like `[u'28461', u'28461']`, which has a length of two. This makes the loop over `node_content` raise an `IndexError`.

[code]

Tribune

[2011-10-28 00:15] niran opened #31 "Pressing enter after a search that doesn't match any items adds a broken well node to the form"
Select a facet, type garbage, hit enter.

[2011-10-28 00:17] niran opened #32 "Attempting to tab-complete a facet before the content types are loaded selects the partial facet name"
If you have a Story type, for instance, load a new add well form, focus the search box, then type `st<tab>`. "ST:" will be your selected facet.

[2011-10-28 00:21] niran opened #33 "Invalid facet types can be chosen in the search widget"
Typing anything in the search box then pressing Tab will select the gibberish as the facet. It shouldn't be selected, and ideally there'd be some visual feedback (red flash?) that the input was incorrect.

[2011-10-31 17:49] tinio opened #34 "update website to reference next release (as opposed to June)"

[2011-11-01 01:02] dmclain opened #35 "generic_key_modelsearch has concurrency issues"
hatband's generic_key_modelsearch will sometimes pollute a ModelAdmin's change_list_template on multi-threaded servers. It should instead create a new instance of the model admin or do some othe rmethod to not leave the ModelAdmin in a bad state.

[2011-11-01 01:19] tinio opened #36 "change apps.donations to use django-merchant"
Using https://github.com/agiliq/merchant

[2011-11-01 17:07] dmclain commented on #35
Fixed in armstrong.hatband 1.1.1

[2011-11-01 17:07] dmclain commented on #31
Fixed in armstrong.hatband 1.1.1

[2011-11-01 17:07] #31 closed, assigned to nobody

[2011-11-01 22:40] dmclain commented on #32
this is just a special case of armstrong/armstrong#33

[2011-11-01 22:40] #32 closed, assigned to nobody

[2011-11-02 22:48] tinio commented on #36
This change can now be seen on armstrong/armstrong.apps.donations#2

comments/suggestions appreciated

[2011-11-03 03:25] niran opened #37 "arm_wells and tastypie don't play well together"
Tastypie calls filter on querysets. arm_wells's `GenericForeignKeyQuerySet` doesn't have a filter method. We have options:
1. Find a way to get tastypie to avoid calling filter.
2. If tastypie passes no arguments to filter when the request doesn't require filtering, add a filter method to `GenericForeignKeyQuerySet` that returns `self` if the arguments are empty and raises an exception otherwise.

[2011-11-03 18:35] Jbonnett opened #38 "Adding some constraints to certain wells."
It would be nice to have some sort of soft constraints on what can be in a well. For example here at the bay citizen we have our right rails which we are re-implementing in Armstrong Wells. We have 3 ads that should be in certain positions of every right rail well, unless there is a VERY good reason for them not to be.   Some sort of popup or warning, would help us enforce the biz constraints of h

[2011-11-03 19:55] tswicegood commented on #38
I am +1 for having some sort of workflow engine built in to Armstrong in general.  I think this is just a specific use-case for some sort of onload system that is triggered as part of the page load on certain forms.

[2011-11-03 20:01] Jbonnett commented on #38
Yeah I can see that. Solving it generically is going to be much more work, but probably also a much greater pay off.  We should probably keep the ticket around and change the label to something like .armstrong.apps.workflows or something like that, just so the example usecase is preserved.

[2011-11-03 20:42] dmclain commented on #38
I'd have to know a bit more about what exactly @tswicegood means by a workflow engine before I know if I have an opinion. I'm against a general-purpose business rules enforcement layer unless that layer happens to be called "Python". Looking at the Bay Citizen site, I'm confused as to how exactly you're trying to use wells for the right rail. Are you trying to make it so editors can dynamically ch

[2011-11-03 20:45] tswicegood commented on #38
@dmclain: I mean a system where you can say "run this code" (probably JS since it would be easiest done in the browser) on this form.  Think "add these three nodes when someone selects `right rail` as the well type".  Seems like that would be generic enough that you could add it to any form.

[2011-11-03 20:50] Jbonnett commented on #38
Something like that is already implemented. We call it right rails and
modules, but its a pretty direct translation to wells.

To translate from baycitizen-ican to armstrong-ese a module could be any
hunk html/template, and might contain another well. On the site these
are generally in little boxes like the whats hot module or the pulse of the
bay. Its dynamically altered by editorial. Ie they mig

[2011-11-03 21:44] dmclain commented on #38
@tswicegood If you just want to add javascript to the admin form then I believe you can do that like so::

[code]

@jbonnett You can do something akin to the above::

[code]

I'm not actually sure how that works when it comes to the inlines which is what the original goal is, but it lets you do custom validation of armstrong objects.

[2011-11-03 21:48] Jbonnett commented on #38
Yes, we do exactly that here for various reasons. If the answer is to punt, that's fine too. I will just move this over to our ticketing system.

[2011-11-03 22:51] sergiosoria commented on #34
Done.

[2011-11-03 22:51] #34 closed, assigned to sergiosoria

[2011-11-04 13:55] tswicegood commented on #38
The answer isn't to punt, it's that it's already doable.

We can't have specific one-off cases built into Armstrong, thus my request for something more generic.  I'd love to have it set so you can drop a JS file in a particular directory, named a particular way, and the admin will find it and add it, but right now I don't consider that a priority.

[2011-11-04 20:00] #30 closed, assigned to nobody

[2011-11-05 00:48] joncotton opened #39 "hardcoded value in the AJAX URL for initVisualSearch.valueMatches()"
The [$.getJSON()](https://github.com/armstrong/armstrong.hatband/blob/master/armstrong/hatband/static/generickey.js#L76) call in hatband/static/generickey.js initVisualSearch.valueMatches() is hard-coded to use _'/admin/'_. This should somehow detect (or be given) the actual base URL to use.

On the Django side the URL routing works fine.
Say the route is setup in `urls.py` like:

[code]

Doing th

[2011-11-05 12:42] niran commented on #35
Reopening this so we don't forget to regression test this.

[2011-11-05 13:21] tswicegood commented on #39
Thanks for the report.  It's on the short-list of things to get out ASAP.

[2011-11-07 03:03] dmclain commented on #39
I'd recommend refactoring the code so that there's a single endpoint for searching that takes in parameters specifying the app and model that should be searched. That endpoint can simply pass through to the existing search view, but it seems broken to be building the search url from information passed in from the facet rather than just hitting a predetermined url with arguments. I'd also suggest w

[2011-11-07 17:34] dmclain commented on #37
We do somewhat better now after armstrong/armstrong.core.arm_wells#10 was merged and released in 1.2.0. It looks like master on tastypie has some hooks that will make life better, but in the meantime there's extensive use of filter/order_by/etc and unless we want to make these querysets actually implement all of that we're just not going to be able to play well with tastypie.

[2011-11-07 22:05] joncotton commented on #39
I agree that handing a single search function arguments is better. That means we can reverse it before use. Right now the URL can't be reversed because we don't know `app_label` and `model` until the facet search is complete e.g. we don't know until the JavaScript code.

The reason we call a URL based on `app_label` and `model` is because the method that handles it (`generic_key_modelsearch()`) pa

[2011-11-08 01:12] joncotton commented on #39
I see now -- `changelist_view()` uses `django.contrib.admin.views.main.ChangeList`. ChangeList is searchable. When we pass that `q` GET parameter, it's automatically used to filter the JSON results that are returned. Nice!

But ChangeList works entirely off the `request` variable so that gets us back to the start of the issue with `app_label` and `model` required in the URL.

Will investigate furt

[2011-11-08 06:03] dmclain commented on #39
It's not required in the url it just needs to be an argument. Rather than::

[code]

Something akin to::

[code]

[2011-11-15 17:59] tswicegood opened #40 "South should be in the INSTALLED_APPS by default"
We should have [South](http://south.aeracode.org/) listed in the `INSTALLED_APPS` by default and it should be in all of the project level requirements files.

[2011-11-15 18:00] tswicegood commented on #40
This touches all of the templates and requires the demo data to be re-generated with the migration data there.

[2011-11-16 18:45] tswicegood opened #41 "Upgrade various packages to use reversion 1.5.1"
We currently have two sets of dependencies: a few apps say they want 1.3.3, while others want 1.4.  We need to upgrade all of them so they're on the same version.

Side benefit, the tests for reversion 1.3.3 currently don't pass in an Armstrong project.

[2011-11-16 20:13] tswicegood opened #42 "Exception when settings lack a STATIC_URL"
Caused by the assumption that there's always a `STATIC_URL` setting.  Just needs to do some type checking.  It should raise an improperly configured exception/error.

[code]

[2011-11-18 22:41] joncotton commented on #39
Resolved in armstrong.hatband v1.2.0

[2011-11-18 22:41] #39 closed, assigned to joncotton

[2011-11-25 16:52] anthony-tresontani commented on #25
Thanks!

[2011-11-25 19:46] martey opened #43 "extend Section.slug to 255 characters"
armstrong.core.arm_sections.models.Section uses the [default Django SlugField](https://docs.djangoproject.com/en/dev/ref/models/fields/#slugfield) to represent its slug. This slug's default max_length is only 50 characters.

This can lead to issues when importing from external databases. [WordPress' section slugs](http://codex.wordpress.org/Database_Description#Table:_wp_terms) have a maximum leng

[2011-11-25 21:57] tswicegood commented on #43
Fair point.  We'll have to coordinate releases on this one though, because everything that relies on `armstrong.core.arm_content` is going to need a migration.  Something we can definitely do prior to the 11.12 release, though.

[2011-12-01 17:51] niran opened #44 "GenericForeignKeyQuerySet should implement all()"

[2011-12-01 18:32] niran opened #45 "Multiple models with the same name result in only one that can be selected for a well"

[2011-12-01 18:40] tswicegood commented on #45
I have a working version of a fix for this, but it requires changes to VisualSearch that I haven't completed yet.

[2011-12-05 16:49] pizzapanther opened #46 "Improve ImageSet Admin Interface"
ImageSet images are orderable and the admin interface would be greatly improved if you could use drag and drop ordering like with Arm Wells.

[2011-12-31 18:34] tswicegood opened #48 "Revisit test runner for Armstrong"
Currently the bulk of the time spent running tests in a CI environment is spent installing stuff.  Because we use Fabric we end up having to install a bunch of crypto stuff which requires real compiles.

The choice to use Fabric as the test runner was done before we had the `armstrong.cli` project.  At this point it's probably worth adding a command to run tests through that and removing Fabric as

[2012-01-30 20:14] nosamanuel opened #49 "The base Section should be easily extensible"
Currently, models that inherit from `Section` still have a `parent` foreign key to `Section`, resulting in type mismatches when retrieving trees of sections.

Possibly extract the fields from `Section` into a `BaseSection` abstract model.

[2012-01-31 18:40] niran opened #50 "Template tags handle StopIteration incorrectly"
`StopIteration` raised within a template tag is caught by Django, which raises a `TemplateSyntaxError`. This makes `render_iter`'s `StopIteration` handling useless. This also means any tag that calls `iterator.next()` (i.e. `render_next` and `render_remainder`, the latter of which already does) needs to handle `StopIteration`.

[2012-02-20 23:14] #36 closed, assigned to nobody

[2012-03-15 21:28] markotibold commented on #25
Hi, I fixed the issue in my fork on bitbucket and submitted a pull request at https://bitbucket.org/effbot/pil-2009-raclette/pull-request/4/added-multiarch-support-for-building-in

[2012-03-15 21:35] niran commented on #25
@markotibold: Thanks! Hopefully it'll get merged soon.

[2012-03-22 16:27] avoine opened #51 "strange 'NoneType' object has no attribute '__module__' error"
Any idea what could cause an error like this?

Traceback:
File "/usr/lib/python2.7/dist-packages/django/core/handlers/base.py" in get_response
1.                     response = response.render()
   File "/usr/lib/python2.7/dist-packages/django/template/response.py" in render
2.             self._set_content(self.rendered_content)
   File "/usr/lib/python2.7/dist-packages/django/template/response.p

[2012-03-22 16:31] Jbonnett commented on #51
Render object on a variable that is set to None?
On Mar 22, 2012 9:27 AM, "Patrick" <
reply@reply.github.com>
wrote:

[2012-03-22 17:51] tswicegood commented on #51
I don't believe this is a straight arm_layout issue.  It looks like wells are doing the wrong thing once they get merged in.

@avoine: could you add the output of `pip freeze | grep armstrong`  as a comment to make sure we're all looking at the correct version.

[2012-03-22 18:22] niran commented on #51
Here is my theory:
1. You created a model class. Let's call it `Post`.
2. You added a `Post` to a well.
3. You decided that `Post` wasn't the right thing, so you deleted it and did something else.
4. You opened a page that uses the well with a `Post` in it, but there's no `Post` model in your code.

Does this sound right?

[2012-03-22 18:25] dmclain commented on #51
Looking at this it seems like this would occur if an object in the queryset that is wrapped by GenericForeignKeyQueryset was pointing at a ContentType that when it had .modelclass() called on it returned None.

I have no idea what would cause that, though @niran suggested that it might be caused by having a ContentType in the database that is no longer represented in python code.

[2012-03-23 15:49] avoine commented on #51
@niran you got it! I export and re-import all the database and I found missing generic foreign key at some places.

Thank you all!

[2012-03-23 15:49] #51 closed, assigned to nobody

[2012-03-23 17:08] crccheck opened #52 "Allow {% render_model object "layout_name" with width="160" only %}"
I'd like the ability to use the sugar that comes with the `{% include %}` tag with `{% render_model %}`.

Current use case is I've got a layout with an image, and I'd like to pass in an optional width for the layout to use. The 'ole workaround is just use the `with` tag around the block. I really just care about getting `with` but if we're going to add that we might as well add `only` to make it m

[2012-03-23 17:40] niran commented on #52
This has come up before, and seems worthwhile to me. `render_model` is a fancy `include` tag, so paralleling it as much as possible is valuable. Pull requests welcome.

[2012-03-23 18:52] tswicegood commented on #52
Ditto what @niran said.  I'm not sure how valuable `only` is because it would be to be "only + `object`", but if ya want to add it I see no reason to keep it out of Armstrong.

[2012-03-29 23:05] tswicegood opened #54 "Update the demo database schema"
This needs to happen so we don't generate random errors with the old demo.

[2012-04-02 16:05] tswicegood commented on #54
Doh!  Forgot to close this the other day.  It's already been done.

[2012-04-02 16:05] #54 closed, assigned to tswicegood

[2012-04-10 19:49] epicserve opened #55 "Rename arm_layout to arm_inlines"
I know this isn't a "big deal" or anything, but I really wish arm_layout was called arm_inlines. Maybe it's just semantics, but all the templates that go in layout app aren't templates for a site layout but are really templates for inline elements that get placed on a page.

[2012-04-10 19:52] epicserve commented on #46
I don't see an up vote feature, but if there was I would up vote this feature.

[2012-04-10 20:16] epicserve opened #56 "Improve the related content select widget"
It would be nice if the "related content select widget" worked sort of like it does in a CMS I made that's a fork of [django-basic-apps](https://github.com/nathanborror/django-basic-apps). If you take a look at this screenshot you'll see that if you first select your "inline type" or "layout" you can then click the managinfing glass and it pops up a dialog just like the Django admin native `raw_id

[2012-04-10 20:42] epicserve opened #57 "Use markdown for all TextFields"
I've found that using markdown for textfields is much more versatile than using HTML because you can easily convert markdown to other formats (i.e. PDF, Plain Text, etc.). Also, the content ends up being a lot more clean than if you allow or use an HTML editor. There is also a nice Markdown editor that you can add to your TextFields that makes adding content easier for the non-techie people who ar

[2012-04-10 21:09] epicserve opened #58 "Add an inline tag"
It would be nice if there was an inline tag that could be used to add inline elements inside any content TextArea field. Ellington and Django-basic-apps both have this functionality. Also, when importing [NTIF](http://en.wikipedia.org/wiki/National_Imagery_Transmission_Format) news articles it makes sense to import the inlines in a NTIF document as inlines in the CMS in order to maintain the inlin

[2012-04-10 21:20] epicserve opened #59 "Create a media app"
It seems like the CMS would be more organized if all media type models (i.e. armstrong.apps.images, armstrong.apps.embedded_video) where under one app called Media. Here is a screenshot of how that looks in another Django CMS.

![Screenshot](http://f.cl.ly/items/1e0C2S010U3A3K3n2026/Screen%20Shot%202012-04-10%20at%202.18.33%20PM.png)

[2012-04-11 00:21] tswicegood commented on #55
@epicserve thanks for the feedback on this.  Right now all this app does is provide the various `render_%` template tags, but it's longer-term goal is to provide a lot more regarding layout of the site.  With that in mind, I think we should keep the name as-is.

[2012-04-11 00:21] #55 closed, assigned to nobody

[2012-04-11 00:25] tswicegood commented on #57
I'm with you on this one, but it's a no-go as the default.  Making the default for the news room Markdown (even MMD) just doesn't have any traction on our end.

That said, the text editor is something that is extremely flexible and something that can be configured site-wide for any models that opt-in to it.  You could use the current implementation of CKEditor as an example of how you could implem

[2012-04-11 00:25] #57 closed, assigned to nobody

[2012-04-11 16:05] epicserve commented on #57
I would hope that you would consider opening this up for discussion again. I know the you can use whatever text editor your want, so that being said, if the Textas Tribune's newsroom doesn't want the Markdown editor, why couldn't you guys switch it out for your preferred editor?

It seems like if you're with me on this one then, why don't we make Markdown the default and then if you don't like it,

[2012-04-11 17:37] tswicegood commented on #57
A couple of developers saying it's the right thing versus news rooms agreeing to learn a new mark up language are two different things.

The think the bigger issue here is that the current editors don't work -- they're hard to extend, they do weird stuff to the underlying HTML, and so on.  Markdown is a solution to the symptom -- HTML's verbosity for simple text.  I think a simple editor that prov

[2012-04-11 17:39] tswicegood commented on #59
This is something that's planned, but through a slightly different route.  Rather than merging the apps at the app level, they'll be merged into groups in the admin via [admin-tools](http://django-admin-tools.readthedocs.org/en/latest/).  This keeps all of the applications independent, while providing a logical grouping at the interface level.

[2012-04-11 17:48] epicserve commented on #57
The "implementation detail" could be handled using a simple django south data migration or something similar for any existing Armstrong instance that wants to start using Markdown going forward. This could also be handled like I handle it in my private CMS I use, where I support two markup languages. If you choose HTML it switches your editor to TinyMCE and if you choose Markdown it switches your

[2012-04-11 17:54] tswicegood commented on #57
Yes, I agree that could definitely be done.  The issue is that I don't want to have to tell newsrooms that if they want to use the out-of-the-box configuration of Armstrong they have to learn a new markup language.  I'm open to a PR with an option that adds this as an editor (or better yet, make it a package by itself that's entirely independent), but I just don't see it as viable for the default.

[2012-04-11 17:58] epicserve commented on #57
**sigh** ... looks as if we've reached an impasse.

[2012-04-11 18:30] dmclain commented on #57
It's not really an impasse. We built the rich text editor code such that building an app that puts markdown in isn't that hard, especially if you already have a working markdown rich text widget. It just won't be the default editor that we ship with.

[2012-04-11 18:44] epicserve commented on #57
Dmclain, I've stated that I understand that you can switch out the default with whatever editor you want. It's an impasse because I would like to see Markdown as the default. I'm methodologically opposed to using HTML for content. In my experience using HTML for content has always come back to bite me in the butt in one way or another. I end up having to do way more support for users than when I g

[2012-04-12 19:29] tswicegood commented on #56
We have a lot of plans for this -- I think once we get a chance to implement them, you'll really dig the new style verus what's there now.

[2012-04-12 19:36] epicserve commented on #56
I can't wait!

[2012-04-12 19:49] tswicegood commented on #58
We've had this discussion internally here at the Tribune a lot.  Right now the thinking is that we don't want to introduce a new XML tag to what is HTML.  What happens if we move to Markdown or someone wants to use Textile?  Are we going to start extending those mark-up languages too?

Beyond the custom markup issue, there are couple of bigger problems. problem.  1) Now display elements are tied u

[2012-04-12 19:49] #58 closed, assigned to nobody

[2012-04-12 19:58] epicserve commented on #58
Without being able to control where an inline element like a photo is inserted, could be the missing feature that prevents our Newspaper from going with Armstrong. This is a feature we have now with Ellington and every other CMS we've looked at provides this functionally.

[2012-04-12 20:00] tswicegood commented on #58
You will be able to control where the related content is displayed, just at a different layer.  It's also something you're welcome to contribute as part of the Armstrong community, but it will need to be maintained outside of the official `armstrong` namespace for the reasons mentioned above.

[2012-04-12 20:02] epicserve commented on #58
So in order to position an inline element where I want it in the body of the text, I would do what exactly? How would that work  exactly in the Admin UI?

[2012-04-12 20:10] epicserve commented on #58
I use Markdown and HTML both in my own CMS and my inline parser templatetag has never ran into any issues so I'm not sure I understand this argument.

[2012-04-12 20:13] epicserve commented on #58
In my own CMS, I handle this with a templatetag that removes the inlines I don't want.

I wouldn't put those things in the admin as inlines. I would add them as related content.

[2012-04-17 23:13] niran opened #60 "Authorize settings should work like DATABASES, CACHES, etc."
Some sites, including ours, use multiple Authorize accounts. Using a dictionary of accounts instead of a single LOGIN and KEY makes this much easier. We should do this before releasing a 1.0.

[2012-04-17 23:15] niran opened #61 "The card_number field should not be pre-populated on error"
Most sites don't show the data again, instead you must re-enter the entire card number.

[2012-04-17 23:26] Jbonnett commented on #60
I second this, we shall soon need 2 authorize accounts.

[2012-04-18 13:21] tswicegood commented on #61
Define "persist" here?  To be clear, _nothing_ with the credit card information is stored during the entire process.

[2012-04-18 13:36] niran commented on #61
If someone has a template that is essentially `{{ form }}`, things should just work. That is, we should proactively remove the credit card information from the form when an error has occurred. Does that sound reasonable?

[2012-04-18 15:39] tswicegood commented on #61
I think that's a reasonable feature to have, but I also think it should be configurable.  Should be easy enough to do, though.

[2012-04-23 23:40] tswicegood commented on #61
This is in the 1.0.0 release.

[2012-04-23 23:40] #61 closed, assigned to nobody

[2012-04-23 23:43] tswicegood commented on #16
This is out in the latest version of `armstrong.core.arm_wells`.  Not 100% on when it got released, but prior to 12.03.

[2012-04-23 23:43] #16 closed, assigned to nobody

[2012-04-23 23:44] tswicegood commented on #17
All of Armstrong works with both Django 1.3.1 and 1.4.

[2012-04-23 23:44] #17 closed, assigned to nobody

[2012-04-23 23:45] tswicegood commented on #18
My current thought process is to move all tests into their own app for testing.  For example, `armstrong.core.arm_wells` would have an `armstrong.core.arm_wells.arm_wells_tests`.  This removes the conflict and keeps from running what is essentially library code in your test suite unless you specifically opt-in.

[2012-04-23 23:46] tswicegood commented on #52
@crccheck Any interest in taking a stab at this for v12.06?

[2012-04-23 23:47] tswicegood commented on #50
@niran, @dmclain: any idea how to best proceed on this?

[2012-04-23 23:48] tswicegood commented on #42
Depending on what happens with `armstrong.hatband` this cycle, we may not have this issue by the time this release rolls around.  Want to make sure it's addressed, however.

[2012-04-24 05:20] crccheck commented on #52
Sure.

[2012-04-24 13:57] niran commented on #52
This is a very low priority feature, so let's either do this on the side or make sure the important things get tackled before taking this on.

[2012-04-24 16:41] tswicegood commented on #52
Yeah -- it's also a very low time feature.  Let's keep it in here and hopefully we can get it in before the next release.

[2012-04-24 16:52] tswicegood opened #63 "Add admin-tools to the default armstrong.hatband setup"
See http://django-admin-tools.readthedocs.org/en/latest/index.html

[2012-04-24 17:03] tswicegood opened #64 "Extract templates from armstrong.cli so they are their own packages"
We currently package all of our project templates inside the `armstrong.cli` package.  We need to extract those so they are installed separately.

When doing this, we should update the directory layout to go with the new Django 1.4 style.

[2012-04-24 17:04] tswicegood commented on #37
Is this still an issue?

[2012-04-24 17:08] tswicegood opened #65 "Remove apps.content dependency from apps.embedded_video"
There is no real reason for this dependency.  We need to remove it.  Note that we may break BC by doing this, but `apps.embedded_video` is pre-1.0, so breaking BC is ok if needed.

[2012-04-24 17:11] tswicegood opened #66 "Switch out to an Bootstrap-based theme for admin-tools"
There is a rough version that's already been created [here](https://bitbucket.org/salvator/django-admintools-bootstrap).  If nothing else it can serve as a basis for starting out.

[2012-04-24 17:12] tswicegood commented on #66
FWIW, I would prefer that this were based on [pinax-theme-bootstrap](https://github.com/pinax/pinax-theme-bootstrap/), but it's not a deal breaker if this works.  The last time I tried it on @TexasTribune there were some issues with projects that had a multitude of apps/models.

[2012-04-24 17:15] tswicegood opened #67 "Deprecate armstrong.cli in favor of Django 1.4"
If we move to Django 1.4 support only we can deprecate `armstrong.cli` in favor of using `django-admin.py startproject --template=/path/to/cloned/template`.  We need to decide if we want to drop Django 1.3.1 support with the next release, however.

[2012-04-24 18:08] dmclain commented on #50
I'm having trouble reproducing the TemplateSyntaxError with django 1.3.1.

There's a test case that tries to emulate this case, but it doesn't actually invoke the Django template renderer, just the RenderIterNode's render method https://github.com/armstrong/armstrong.core.arm_layout/blob/master/armstrong/core/arm_layout/tests/templatetags/layout_helpers.py#L256-267

[2012-04-24 19:29] niran opened #68 "Write a factory for simplified related content admin inlines"
A developer would specify a label, related type, and optionally content types to restrict choices to. This would simplify the process when, for example, relating art to an article when only images and videos are desired, or relating a school to an article when the content type and related type are the same.

One enhancement would be to determine the appropriate content types for a related type dep

[2012-04-24 19:36] tswicegood commented on #68
I've modified this to say "factory" just to avoid possible confusion with generators.

As an implementation note: Django provides some very useful examples for this type of function.  See `modelformset_factory` and `inline_modelform_factory` (those are off the top of my head, so they may be wrong, but they're named very similarly.

[2012-04-24 20:20] tswicegood opened #69 "Finish move to Skeleton for default template"
This is already a work-in-progress.

https://github.com/armstrong/armstrong.cli/pull/15

[2012-04-24 21:29] dmclain commented on #37
Yes, the basic issue is that MergeQueryset doesn't support filtering. We could I suppose pass through the filter to both of the querysets, though that might still explode in the case of wells since one of the querysets would be a GenericForeignKeyQueryset, which can't support filtering.

[2012-04-24 22:41] niran commented on #37
Don't you think it would still be useful to turn `filter()` with no args into `_clone()`? I think stuff is breaking that isn't actually necessary. Basic API calls don't filter anything.

[2012-04-25 13:09] tswicegood commented on #37
Do we have a list of ways tastypie calls `filter`?  It seems like supporting the no-args way is trivial and something we should do, but if that's not the way tastypie calls things, then I don't know how useful it'd actually be.

[2012-04-25 18:28] dmclain commented on #37
We don't know all the different ways that tastypie can call filter, but we added empty filters in https://github.com/armstrong/armstrong.core.arm_wells/commit/e3c837bd991f4fe87c3ebb9e9e971e9570bd33f2

[2012-04-25 18:32] tswicegood commented on #37
Cool.  If we don't have a use case that we can reproduce this bug, I'm going to assume this issue was opened prior to that code be introduced and close it.  We'll re-open this if there is a reproducible use case.

[2012-04-25 18:32] #37 closed, assigned to dmclain

[2012-04-25 19:03] tswicegood opened #70 "Update the urls.defaults route in the various project templates to be an ArticleView"
This requires a new `ArticleView` be created as a sub-class of `DetailView`.

This is the last of the deprecated function-based generic views.

[2012-04-25 21:37] tswicegood commented on #70
Well, this now becomes a little bit more of something we should fix. https://github.com/django/django/commit/00ca85c2f99bcbfd57da3377addee389f21e1640

[2012-04-27 17:27] pizzapanther opened #71 "Invalid Django Requirements"
Several apps have conflicting requirements such as:
armstrong.core.arm_access-1.0.6-py2.7.egg-info/requires.txt:Django==1.3.1,==1.4

On Gondor this causes 1.3 to get installed when I wanted 1.4.

Most likely the requirement should be:
Django>=1.3.1,Django<=1.4
or
Django>=1.3.1

[2012-04-27 17:37] tswicegood commented on #71
This is most likely a bug on Gondor and (totally guessing here) either an outdated pip or a bug in a PyPI caching layer.

`Django==1.3.1,==1.4` means that either Django 1.3.1 or Django 1.4 can be installed and will work.  The preference is the higher version unless that causes a conflict somewhere else or Django 1.3.1 is already installed.

[2012-04-27 17:54] tswicegood commented on #71
I've verified that this isn't a issue on our end.  Here's an install on a clean virtual environment.

[code]

[2012-04-27 17:54] #71 closed, assigned to nobody

[2012-04-27 18:01] pizzapanther commented on #71
Thanks for the investigation.

It is working on my dev environment so I concur.

If it is because of an outdated pip maybe it should be changed to support older versions?

[2012-04-27 19:44] tswicegood commented on #71
I don't think this is an issue that we can actually fix, nor as I think about it do I really think it's a bug in an older version pip/distutils as version specs are pretty well defined.

Did you have a working virtualenv already?  My unsubstantiated hunch is that Django 1.3.1 was already there so that's what it used.  Can you try with an entirely clean Gondor instance/site?

[2012-04-27 20:24] pizzapanther commented on #71
I had the project working with 1.4 originally and when I redeployed it failed.  From now on it installs 1.3.  Haven't tried to deploy on a new server, but don't really want to because that would mean migrating the db and files.

[2012-04-27 21:46] tswicegood opened #72 "Update Getting Started docs to use new way as an example"

[2012-04-27 21:57] niran commented on #71
Is there a way to explicitly set a `Django==1.4` requirement for your project itself on Gondor? Hopefully that would override the versions specified in dependencies.

[2012-04-27 22:00] pizzapanther commented on #71
i had done that already in my project requirements.  Was my first line.

[2012-04-30 18:44] tswicegood commented on #69
This was finished last week and released as armstrong.cli 1.2.0.

[2012-04-30 18:44] #69 closed, assigned to tswicegood

[2012-04-30 18:45] tswicegood commented on #64
The first part of this is now out in the wild -- [armstrong.templates.standard v1.0.2](http://pypi.python.org/pypi/armstrong.templates.standard/1.0.2).

[2012-04-30 18:46] tswicegood commented on #64
Note, I'm going to punt on moving to the Django 1.4 style of `<project_name>/settings,etc` for now, but the new style can be used with `django-admin.py startproject --template`.

[2012-05-03 04:30] mediacobbler commented on #58
hey epicserve, im working in ellington and need to make a loop that displays all of the inline images in a particular category. can you help me?

[2012-05-08 17:57] niran opened #73 "armstrong README doesn't render on PyPI"
There's probably an error in the markup somewhere.

http://pypi.python.org/pypi/armstrong/

[2012-05-09 22:56] crccheck opened #74 "Arm well's .get_current() should resemble .get()"
So the issue I'm running into is: I want to use `.get_current()` but I only have the slug, not the title. What if `.get_current`, instead of expecting `title`, just took arbitrary kwargs it passed onto the .filter() inside? Code would change from `well.objects.get_current('Test Well')` to `well.objects.get_current(title='TestWell')`, and for comparison, `well.objects.get(title='TestWell')`.

It's

[2012-05-10 16:18] niran commented on #74
Agreed. Easy to make it backwards compatible.

[2012-05-22 21:44] pydanny opened #75 "sorl.thumbnail should be listed in the default setup"
Because images are so pivotal for Armstrong and sorl.thumbnail is the default, it should be at least mentioned in the INSTALLED_APPS. Or preferably added as a default. Or something.

[2012-05-22 22:06] tswicegood commented on #75
Relevant code: https://github.com/armstrong/armstrong.cli/blob/master/armstrong/cli/templates/standard/settings/defaults.py#L130-133

Alternatively, `armstrong.apps.images` could be commented out along side `sorl.thumbnail` to use.

[2012-05-23 16:24] pydanny opened #76 "Armstrong templates providing incorrect requirements.txt files"
They say:

[code]

They should say:

[code]

[2012-05-23 20:21] tswicegood commented on #76
This is updated here: https://github.com/armstrong/armstrong.templates.standard/pull/2

[2012-05-24 21:24] pydanny opened #77 "Deleting armstrong.apps.articles.models.Article generates error on QuerySetBackedWellView"
1. Create article via admin
2. Delete article via admin
3. Get the following error

[code]

[2012-05-24 21:26] pydanny commented on #77
Our solution will be regular backups and warning the users not to delete anything. It would be nice though if Armstrong gave a stronger warning upon deletion of this content.

[2012-05-24 22:12] tswicegood commented on #77
I was able to reproduce this, but there's a missing step in the original report.  The `Article` that is deleted needs to be added to a `Well`.  Deleting an `Article` currently does _not_ delete the `WellNode` that its a part of.  The problem here is that the `Article` doesn't know anything about what wells it is a part of.

Possible "solutions" all require making the `Article` model aware of `Well

[2012-05-24 22:13] tswicegood commented on #77
Leaving this open because we need to figure out a way to deal with this.  Off the top of my head I'm not sure of the best way to deal with it, though.

[2012-05-24 23:04] pydanny opened #78 "Suffix all armstrong custom templatetags with '_tags.py'"
The deeply nested architecture of armstrong makes discovery of templatetags challenging. A practice I've seen adopted by a lot of projects is to suffix all templatetags with '_tags' simplifies discovery. It's a very handy convention:
- https://github.com/maraujop/django-crispy-forms/tree/dev/crispy_forms/templatetags

[2012-05-25 17:04] tswicegood commented on #78
I'm -0 on this one.  Couple of problems:
- The biggest is that it would break backwards compatibility.
- Breaking filters and tags into two modules seems redundant to me.

FWIW, in Sublime Text 2 and Vim it's pretty simple for me to see the various tags by searching for `arm/temtags/` and now I'm listing everything that contains `arm` and `temtags` in it.

[2012-05-25 18:45] pydanny commented on #78
You don't have to remove the old tag file names. You can simply import the content into new file names and begin the process of migrating over.

As for using a particular text editor as justification for a coding convention, does that mean that only Sublime Text 2 and Vim are supported by Armstrong?

[2012-05-25 21:04] nosamanuel opened #79 "Calling a `get_backend` on a `GenericBackend` with defaults raises `ImproperlyConfigured`"
This occurs when the settings key is not set. We should either update the docs to mention the `ImproperlyConfigured` or just raise a `DID_NOT_HANDLE` in this case.

[2012-05-29 16:00] tswicegood commented on #78
I'm not a fan of more than one way to do something, I'd much rather have one way to load the template tags and filters rather than an old one and a new one unless there's some gain to be had by switching.  I guess there's a case to be made for treating the `_tags` and `_filters` modules as private and not meant to be loaded directly, but still exposing them in case you needed further granularity i

[2012-05-31 21:03] pizzapanther opened #80 "Timezone Support"
When doing datetime queries there are a lot of places where Armstrong does not play nice with the 1.4 timezone support.  For example in:
https://github.com/armstrong/armstrong.core.arm_wells/blob/master/armstrong/core/arm_wells/managers.py#L7

When time zone support is on, that line should look like:
now = datetime.datetime.utcnow().replace(tzinfo=utc)

Same goes for the Published manager:
https:/

[2012-05-31 21:47] crccheck commented on #80
For that instance, since that file is so small (I normally don't like importing submodules of datetime because I've found that doing that is confusing), we could do:

[code]

and then replace `now = ...` with `now = now()`

I'm not aware of a general way to do it and have it play with Django 1.3 too.

[2012-05-31 22:50] dmclain commented on #56
this is a lot better in armstrong/armstrong.apps.related_content#13 which relies on armstrong/armstrong.hatband#14

[2012-06-11 20:49] epicserve opened #81 "armstrong.apps.events doesn't install"
I followed the [readme](https://github.com/armstrong/armstrong.apps.events/blob/master/README.rst) instructions...

[code]

I also added `armstrong.apps.events` to my `INSTALLED_APPS` in my settings. Then I tried running `django-admin.py syncdb` and `armstrong.apps.events` wasn't listed. Also when I went to run `django-admin.py runserver`, it get the error, "`Error: No module named events`".

[2012-06-11 23:34] epicserve commented on #56
@dmclain I got this installed so the related content widget is using a raw_id and popup window for the type of content you're selecting, however the images app doesn't have thumbnails yet. I tried to install, https://github.com/dmclain/armstrong.apps.images/tree/generate_thumbnails, but that didn't seem to do anything.

[2012-06-12 22:04] epicserve commented on #56
FYI, I just created a pull request that adds thumbnails in the admin, https://github.com/armstrong/armstrong.apps.images/pull/9

[2012-06-13 23:27] epicserve commented on #81
I figured out how to install `armstrong.apps.events`, I had to do the following...

[code]

This should probably be updated in the documentation some how.

[2012-07-04 01:05] joncotton commented on #78
-0 for me too. I don't see the gain.

Armstrong doesn't use many templatetags so there isn't a need to break up long files into `*_tags` and `*_filters`. Also, you can always `{% load filter from templatetag %}` to 'import' just one thing from a templatetag file.

Discovery may be slightly cumbersome, but at least they always exist in a `templatetags/` directory. I think the better way to discover

[2012-07-10 21:07] joncotton opened #82 "VisualSearch can overwrite existing scripts"
VisualSearch via the `GenericKeyWidget` Media includes a [dependencies.js](https://github.com/armstrong/armstrong.hatband/blob/master/armstrong/hatband/widgets/visualsearch.py#L14) file. That [file](https://github.com/armstrong/armstrong.hatband/blob/master/armstrong/hatband/static/visualsearch/dependencies.js) contains jQuery, Sizzle CSS Selector, jQuery UI and jQuery UI Widget. All of those coul

[2012-07-18 21:44] tswicegood commented on #82
This is an issue that we can't really address any further than we have.  The latest `armstrong.hatband` uses the `ARMSTRONG_ADMIN_PROVIDE_STATIC` setting to determine whether it should provide any static files such as JS or CSS.  It defaults to `True`, but setting it to `False` means none of the media will be loaded.

We currently deploy the Tribune with `ARMSTRONG_ADMIN_PROVIDE_STATIC=False` as t

[2012-07-18 21:44] #82 closed, assigned to nobody

[2012-07-19 19:24] joncotton commented on #82
`PROVIDE_STATIC` is a good feature and I think we'll use it here to.
However, we could test for jQuery first before loading it. Simple `window.jQuery` test or `yepnope` loading. There are other options.

[2012-08-07 10:05] #78 closed, assigned to nobody

[2012-09-06 00:32] newz2000 opened #84 "You can kill your site by creating two sections with the same slug"
Hi, ran into a funny problem tonight.

If a user adds a section that has the same slug as another section then the home page will fail to load because get_object_or_404(Section, slug) will return multiple results.

I can think of two behaviors that are better:
1. If the slug must be unique then enforce it at the model
2. Don't make the slug unique if it doesn't need to be.

In this example, a sect

[2013-02-01 20:24] #74 closed, assigned to tswicegood

[2013-02-01 21:52] crccheck opened #85 "arm_access protect should not care about having an object"
If you look at the current code, it [looks for an object](https://github.com/armstrong/armstrong.core.arm_access/blob/master/armstrong/core/arm_access/paywalls/base.py#L49-L54). That means you can't protect a simple direct to template url or a list view.

[2013-05-24 03:25] martey opened #86 "does not work with collectstatic when CachedStaticFilesStorage is enabled"
I am using Django 1.4.5 and Armstrong 12.03.1.

Traceback of collectstatic command:

I think that this is because CachedStaticFilesStorage rewrites CSS in order to append hashsums to the end of static files, and the missing files are referenced by:
- `armstrong/hatband/static/ckeditor/plugins/uicolor/yui/assets/yui.css` (`bg-h.gif` and `bg-v.gif`).
- `armstrong/hatband/static/visualsearch/visualse

[2013-05-27 19:25] tswicegood commented on #86
Hmm.  Looks like there's a few things missing in `armstrong.hatband` and `armstrong.apps.images` that are causing this.  Thanks for the head's up, @martey!

[2013-05-27 22:23] odinho commented on #86
Some plugins did change with the ckeditor version change yes, and maybe I also didn't include the same set that was used at the last include. But there seems to be other files missing too, so it's hopefully not really a pure regression from 19?

[2013-05-28 19:39] martey commented on #86
@Velmont, I was not using the changes in your pull request when I ran into this issue, so it is not a regression. However, if the ckeditor 4.1.1 CSS files reference images that are not included by default, or if you should removed some images, your pull request might have the same issue.

[2013-05-28 19:47] tswicegood commented on #86
Oh!  Sorry for the confusion guys.  I was just thinking that PR 19 for hatband might solve this problem.

[2013-06-04 23:01] Jbonnett opened #87 "Lettuce/BDD Sucks"
Lettuce is a strange way to write a english like domain specific language for your tests. It is a pain.  We all know python. Python both executes and conveys the meaning of tests. We should remove lettice and replace the tests with normal unit tests. Luckily, since you have to implement all the steps of a test in python anyway, some minimal copy/paste/refactor is all that will be needed.

[2013-06-04 23:01] Jbonnett commented on #87
(if 13.09 is too soon, let me know)

[2013-06-04 23:11] Jbonnett opened #88 "Pinning Django 1.4.4?"
https://www.djangoproject.com/weblog/2013/feb/20/updated-releases-issued/

I would argue that pinning the minor version is a waste of time. If the django team says 1.4.4 and 1.4.5 are compatible, are we really so sure that we know better?

[2013-06-05 00:13] Jbonnett opened #89 "Hatband needs browser testing framework."
We need to be able to test things like a new version of visual search or ckeditor automaticly.  This is especially important as we move into new admin stuff. There are several options, we should pick one.

[2013-06-05 00:14] Jbonnett commented on #89
I have used selenium and https://github.com/dragoon/django-selenium looks good, but i dont want to dig too far in without opening it upto discussion. @tswicegood  @joncotton @crccheck @nosamanuel

[2013-06-05 07:46] tswicegood commented on #89
There's actually a built-in tester in Django 1.4. Maybe we should drop 1.3 support in 13.09...?

[2013-06-05 08:46] Jbonnett commented on #89
Reading  https://docs.djangoproject.com/en/dev/topics/testing/overview/#django.test.LiveServerTestCase and https://django-selenium.readthedocs.org/en/latest/#id3  makes me think that we could use django-selenium and it will use the native test runner if its available. Meaning we could keep 1.3 support.
On the other hand; We are going to have to deal with the django version support in other places

[2013-06-05 19:08] joncotton commented on #84
It should be clarified, but the paradigm is to use the `full_slug` for uniqueness. `SimpleSectionView` does this with its [get_object_or_404](https://github.com/armstrong/armstrong.core.arm_sections/blob/f5d36900f7b0503a60a526fd70b57ecb91625fa0/armstrong/core/arm_sections/views.py#L19). We should **consider adding the unique constraint** to `full_slug` in the Model definition.

The Bay Citizen use

[2013-06-06 23:07] Jbonnett opened #90 "hatband contains multiple versions of jquery/jquery-ui"
One in static/visualsearch/dependencies.js. Another two in static/visualsearch/build-min/, one minified and one minified and gziped, neither of which are we using. Yet another in static/hatband/js/. All of these are in addition to the one that ships with django admin.

I propose that we cut this down to one if at all possible.

[2013-06-07 22:23] Jbonnett commented on #89
Unless someone hops in and tells me not to I am going to use django-selelnium, as it looks like even if it goes away we can seamlessly switch to the native selenium runner and it lets us keep 1.3 support for now.

[2013-06-12 23:01] tswicegood commented on #90
I noted this in a PR on hatband, but I want to note it here too.

There is a setting called `ARMSTRONG_ADMIN_PROVIDE_STATIC` that was added to avoid using all of these duplicates.  It's intent is for an implementor to say "don't provide anything, I'll take care of all static media."  The reason for it is that Django does not have any registry of media that is being displayed.  Each form and widget

[2013-06-12 23:03] tswicegood commented on #87
I agree that Lettuce isn't great, but the original idea was to spend time documenting out features without any code so we could all agree on what we were implementing before the expensive part starts.  For all its warts, Lettuce (remarkably) does at least work.

[2013-06-12 23:05] tswicegood commented on #88
Until Django 1.5, yes.  Starting in Django 1.5, no new features are added to tertiary point releases, but in 1.4.x they were.  There's code somewhere in Armstrong that broke in 1.4.4 or 1.4.5 (I'd have to go dig it up) because of a new feature that was added.  The idea with pinning to a tertiary release was that we'd re-run our code on the new releases as it came out to ensure that it worked, then

[2013-06-12 23:05] tswicegood opened #91 "Remove Django requirement from various components"

[2013-06-12 23:06] tswicegood opened #92 "Update all of the components in `armstrong` package to their latest stable versions"

[2013-06-12 23:34] Jbonnett commented on #88
works for me.

[2013-06-12 23:34] #88 closed, assigned to tswicegood

[2013-06-12 23:39] Jbonnett commented on #90
What this issue is referring to is actually somewhat simpler, we have too many copies of the same code in hatband. No registration system necessary.

On the issue you raise however, I do think having some form of asset pipeline for armstrong makes sense eventually. I can't say I am pleased with the system we( meaning cir) have now, which basically builds a all.[js, css], which is exactly what it s

[2013-06-13 08:31] Jbonnett commented on #87
![tombstone](https://f.cloud.github.com/assets/231793/647382/0f69d8e8-d403-11e2-89d1-669d2ed7a30b.jpg)

If that's not damning with faint praise, I don't know what is. Ripping lettuce out will help with adding/updating tests. Given how full out dance card currently is, if you want to punt on it till 2014, I can understand that.

[2013-06-13 14:02] tswicegood commented on #87
You missed my point. The implementation of Lettuce sucks, not Gherkin. I think there is something immensely valuable in spelling out the behavior of what you're about to build before building it and I don't think that can be done with tests.

I'm happy to replace Lettuce with a different implementation of a Gherkin parser/runner, but I still would like to keep that there.

[2013-06-13 18:03] Jbonnett commented on #87
Spelling out behavior in english is valuable.
Writing tests is valuable.
There is nothing inherent in the gherkin parser to force those what happens to actually map to the proper english words to describe them. Therefore, there is no benefit in gherkin/lettuce/cucumber over a spec and some tests to justify the additional layer of abstraction. Even the name, BDD is a farce. It suggests it does one

[2013-07-02 23:09] joncotton opened #94 "Wells shouldn't require Reversion"
Reversion is a nice-to-have for sure, but it's not our call whether the end user wants version history. Particularly in Wells. And particularly when Reversion is such a high maintenance package tied to specific Django versions. Reversion should be optional.

I believe it's only used in `admin.py`. We should `try: import VersionAdmin` and if it fails, just use a normal `admin.ModelAdmin`. We could

[2013-07-06 13:05] crccheck commented on #94
+1 on this. On a side note, it's from Reversion that I learned it's okay to wrap big chunks of code in a try / except ImportError (https://github.com/etianen/django-reversion/blob/master/src/reversion/helpers.py)

I think this issue is just waiting for someone to actually write the PR.

[2013-07-06 16:05] joncotton commented on #94
Cool. I'm doing a similar thing in Apps.Embeds for the optional ArmLayout support.
(https://github.com/joncotton/armstrong.apps.embeds/blob/master/armstrong/apps/embeds/arm_layout_mixin.py)

[2013-07-22 22:34] martey opened #95 "get_url_for_model does not work with inherited models"
`get_url_for_model` uses `__class__` comparisons to determine absolute URLs for Sections and Articles. The result is that models inherited from this two objects cannot use `get_absolute_url`.

I ran into this issue while using [defer](https://docs.djangoproject.com/en/1.4/ref/models/querysets/#defer):

[code]

I think that this could be fixed by using `isinstance` instead.

[code]

`get_url_for_mo

[2013-07-23 23:06] martey opened #96 "armstrongcms.org contains text touting not-yet-released features"
Because this "deep integration" is not (to my knowledge) available, this text is extremely confusing. I think it would be fine to state that such features are on the roadmap, but not to refer to them as being currently available.

[2013-07-24 00:39] joncotton commented on #96
Totally agree. We will be talking about ArmstrongCMS.org over the next couple of days. The site has some marketing language that needs to be brought back to earth.

[2013-07-25 21:57] Jbonnett commented on #96
Totally true. That site badly needs to be rewritten by someone who isn'ta
marketing drone.

On Tue, Jul 23, 2013 at 4:06 PM, Martey Dodoo notifications@github.comwrote:

[2013-07-26 19:56] nosamanuel opened #97 "All of the models in apps.donations return bytes instead of unicode"
https://github.com/armstrong/armstrong.apps.donations/commit/d6185e9e895e16a3776edf2b7244e418dea46e3d#armstrong/apps/donations/models.py

[2013-10-09 23:07] shacker opened #98 "arm_content admin assumes arm_access is installed"
The `arm_content` admin references the field 'access' at [1] but the field 'access' is only provided by `arm_access`. This breaks modularity - remove the `arm_access` app and the admin breaks for every model that inherits from `arm_content`.

[1] https://github.com/armstrong/armstrong.core.arm_content/blob/v1.3.5/armstrong/core/arm_content/admin/fieldsets.py#L6

[2013-10-15 22:32] joncotton commented on #52
Slated for release in v1.3.0 so I'm closing.

[2013-10-15 22:32] #52 closed, assigned to nobody

[2013-10-15 22:39] joncotton commented on #50
Closing as not longer applicable. Test coverage has been increased and tests have changed to use the template tag/renderer (not just the Node) in armstrong/armstrong.core.arm_layout#12 which is slated for release in v1.3.0. (Also this issue is old and hasn't cropped up since.)

[2013-10-15 22:39] #50 closed, assigned to nobody

[2013-10-16 00:39] crccheck commented on #52
![](http://images.wikia.com/adventuretimewithfinnandjake/images/f/f3/DANCING_COOKIE.gif)

[2014-01-21 21:18] joncotton commented on #48
I agree that most of the time running tests is spent installing stuff and we can do better. My thoughts boil down to an improved ArmDev (2.0) that uses Invoke and stick with Django's test runner.
- I think ArmCLI isn't the way particularly because it's being deprecated. See #67
- Django has a fine test runner, let's keep using it. (Fabric isn't actually the runner, just the means to invoke it.)
-

[2014-01-21 21:22] joncotton commented on #21
This isn't going to happen.

[2014-01-21 21:22] #21 closed, assigned to Jbonnett

[2014-01-21 21:29] crccheck commented on #48
One thing to note is Django changed their test discovery (for the better) in 1.6 [details](https://docs.djangoproject.com/en/dev/releases/1.6/#discovery-of-tests-in-any-test-module). "This change is backwards-incompatible; see the backwards-incompatibility notes." I know you can organize tests so they run in all recent versions of Django, but I don't remember what I had to do.

@tswicegood What's

[2014-01-21 21:32] joncotton commented on #91
This is gradually happening as individual components are updated.

[2014-01-21 21:35] joncotton commented on #48
This is how I've punted on that issue, just to use the old test runner for now. joncotton/armstrong.core.arm_layout@80a3efa11f8f2913d3ce90668b4e9c7eaa5ada9c

[2014-01-21 21:48] joncotton commented on #98
ArmContent has a similar dependency on ArmSections. Both add their relevant hooks onto `ContentBase`. As you mention, `access` is also attached to the admin field listing.

I'm in favor of removing these dependencies and a good way to do it is with `armstrong.apps.content`. It does essentially nothing at the moment and is the perfect place to combine various mixins into the concrete model class. A

[2014-01-21 22:25] Jbonnett commented on #21
Yep. Totally isnt.

On Tue, Jan 21, 2014 at 1:22 PM, Jon Cotton notifications@github.comwrote:

[2014-02-10 23:46] joncotton commented on #48
I've been playing with the Django 1.6 test runner (which is really unittest's discover runner) and I like it. It means potentially more typing when specifying a subset of tests because now you need the entire path instead of the `app_name.test` pseudo path. But the benefits are greater.

The new runner doesn't run tests for everything in INSTALLED_APPS, uses flexible pattern matching to find test

[2014-03-07 00:21] joncotton commented on #26
I'm not sure when this was applicable, but ArmDev isn't (and hasn't been) doing this. Closing.

[2014-03-07 00:21] #26 closed, assigned to nobody

[2014-03-07 00:24] joncotton commented on #40
Demo situation aside, South should be a per-project requirement/setting. Some components just don't need South. This Issue is pretty old so...closing.

[2014-03-07 00:24] #40 closed, assigned to nobody

[2014-03-31 04:24] joncotton commented on #49
To replicate this issue:
1) Make a new Model that inherits from Section.

[code]

2) In the shell:

[code]

We'd expect the parent of `s2` to also be a `SubSection` model.

[2014-04-04 04:54] joncotton commented on #48
ArmDev 2.0 is released and it addresses this. Closing.

[2014-04-04 04:54] #48 closed, assigned to nobody

[2014-04-13 20:13] joncotton commented on #65
Closing and using a new tag of "yes_but_irrelevant". This is definitely a valid Issue, but this package is unmaintained and untouched for 3 years. Besides, [armstrong.apps.embeds](https://github.com/armstrong/armstrong.apps.embeds) is a better solution to handling embedded/external content of any nature.

[2014-04-13 20:13] #65 closed, assigned to nobody

[2014-04-13 20:20] joncotton commented on #59
Closing as no longer relevant. AppsImages is a super weak point and really really needs replacing (Bay Citizen has draft code but who knows if it'll ever see the light). AppsEmbeddedVideo is unmaintained; for things like this [armstrong.apps.embeds](https://github.com/armstrong/armstrong.apps.embeds) is a much better solution.

I do agree with Travis's approach of independent apps and interface gr

[2014-04-13 20:20] #59 closed, assigned to nobody

[2014-04-17 04:09] joncotton commented on #18
Closing. With ArmDev 2.0 universally using Django 1.6's test runner, we can easily move the tests into the root directory of the project. With that and `prune tests` in the Manifest, we no longer ship tests. The above listed apps may still suffer this problem, but there's a solution now. Take a look at the post-1.3/pre-1.4 work on `armstrong.core.arm_layout` for an example.

Oh and for thoroughnes

[2014-04-17 04:09] #18 closed, assigned to tswicegood

[2014-04-17 04:25] joncotton commented on #43
We use the default `SlugField` for both [Section](https://github.com/armstrong/armstrong.core.arm_sections/blob/v1.5.6/armstrong/core/arm_sections/models.py#L45) and [ContentBase](https://github.com/armstrong/armstrong.core.arm_content/blob/v1.3.5/armstrong/core/arm_content/models.py#L33-L34). I think changing the `max_length` from the default 50 to 200 is a good idea. Thanks @martey for the doc l

[2014-04-17 04:32] joncotton commented on #10
Nice idea, but three years and no progress later...closing. (We can always reopen)

[2014-04-17 04:32] #10 closed, assigned to nobody

[2014-04-17 05:07] joncotton commented on #41
django-reversion 1.8 is current. I'm closing this issue because the effected components are, at this point, so very out of date that they need a lot more help that this.

[2014-04-17 05:07] #41 closed, assigned to tswicegood

[2014-04-17 05:12] joncotton commented on #7
`django.contrib.comments` is now deprecated. It's available as an external project but it's going away. So this issue is no longer relevant. Could we add an example for Disqus? Yes. Are we? Ya right.

[2014-04-17 05:12] #7 closed, assigned to nobody

[2014-04-17 05:12] Jbonnett commented on #7
Threaded comments is still worth using,

[2014-04-29 03:03] joncotton commented on #96
New site launched—`armstrong.github.io`—and the domain is re-pointed.

[2014-04-29 03:03] #96 closed, assigned to nobody

[2014-05-26 21:28] joncotton commented on #49
So I can't replicate my last comment. I've tried checkouts and Django versions but I can't get that output again. Good news is that the result _is_ what we expect:

[code]

Here's the real problem, the type mismatch as stated in the PR:

[code]

[2014-05-27 01:45] Jbonnett commented on #49
Yeah, i am actually running into this. :(

[2014-05-27 04:50] joncotton commented on #49
Oh good, let's fix it! Any thoughts or additions?

[2014-05-27 05:15] Jbonnett commented on #49
Not yet, will check in tomorrow when i have code in front of me.

On Mon, May 26, 2014 at 9:50 PM, Jon Cotton notifications@github.comwrote:

[2014-05-27 18:04] Jbonnett commented on #49
Ok, so i believe that this relates to a bug in django i have been meaning to fix. Let me open it and reference it here.

[2014-05-27 20:12] Jbonnett commented on #49
So basically, you need to redefine your managers on every subclass of a subclass, because https://github.com/django/django/blob/master/django/db/models/manager.py#L138 only goes 1 deep. Standard mro means you find your manager, but it hasnt had the manager.model var set correctly. I think this is a bug and want to update django to cover it, but it would mean they would have to officially support i

[2014-05-27 20:31] joncotton commented on #49
What does that mean for ArmSections?

`BaseSection` has the managers and `Section` will get them as expected. If someone were to subclass `Section`, manager inheritance would skip `Section` (which has nothing anyway) and go to `BaseSection` resulting in the subclass having the same managers as the concrete, parent `Section`. ([Django docs](https://docs.djangoproject.com/en/1.6/topics/db/managers/#

[2014-05-27 20:32] Jbonnett commented on #49
your example inherits from sections, if you use the baseclass this should all work fine.

[2014-05-27 20:35] Jbonnett commented on #49
if you inherit from sections, the copy to model function runs, and clones the manager on to sections, but never runs for your subclass of sections, meaning the mro happens and you find the sections manger but its private model var is set to "Section" not to "SubSection"

[2014-05-27 21:09] joncotton commented on #49
Got it. That makes sense where the manager works but doesn't understand it's operating on a new model. So this doesn't directly affect ArmSections and the PR alleviates this situation anyway.

[2014-06-02 00:27] #43 closed, assigned to nobody

[2014-06-02 00:27] #84 closed, assigned to joncotton

[2014-07-31 17:36] melinath opened #99 "Update on status? / Update to Django 1.6"
Is this project still active? I notice there have not been any updates since about a year ago. That being said, this is potentially exactly what I want to be using and potentially contributing to. What's up?

... Also, Django 1.5 and 1.6 include a lot of improvements. Any chance of adding support for them?

[2014-07-31 18:20] Jbonnett commented on #99
Well there are a few people working on sites based on armstrong, but few patches have made their way back in, for a variety of reasons. There is a lot of grunt work just to get everything using the new testing frame work that @joncotton wrote.

[2014-07-31 19:02] joncotton commented on #99
Hi @melinath. Armstrong's great strength is the modular nature of its features (okay okay and we've always paid attention to code quality and the architecting of its components). Take a look at the root [Github account](https://github.com/armstrong) and you'll see the repos ordered by most recent update. The recently modified repos (layouts, sections, embeds) support Django 1.6. They have updated

[2014-08-21 21:55] joncotton opened #100 "AppsEmbeds - spaces are not allowed in memcache cache-keys"
@Jbonnett reported this. The bug specifically manifested because the Twitter backend name has a space.

Tasks:
- [x] fix
- [x] write test

[2014-08-23 22:35] #100 closed, assigned to joncotton

[2015-02-16 02:26] ivvvve opened #101 "arm.content module not installing via pip"
pip install reaches a snag --

[code]

Could this be a misplaced hypen?

[2015-02-16 18:49] joncotton commented on #101
The hyphen is okay. Are you failing on a dependency? My installation attempt fails at:

[code]

That's because django-reversion 1.4 is ancient and no longer available on PyPi. You can install it from our github "mirror" with this command:
`pip install https://github.com/armstrong/pypi.armstrongcms.org/raw/gh-pages/files/django-reversion-1.4.tar.gz`
Then it dies on PIL; to compensate: `pip install

[2015-02-19 15:11] ivvvve commented on #101
Thanks for your comprehensive reply! Will have a go at the above.

[2015-02-26 21:29] joncotton commented on #101
I'll close this. Let me know if I can help with any of the individual components.

[2015-02-26 21:29] #101 closed, assigned to nobody

[2015-05-29 04:59] #42 closed, assigned to nobody

[2016-08-16 18:00] aimechris opened #102 "Get this error during intallation"
Collecting armstrong.core.arm-content<1.1,>=1.3.1 (from armstrong)

[2016-08-16 18:01] Jbonnett commented on #102
This project is mostly dead and unmaintained, You should not start a NEW
project on armstrong. If you have something old that has stopped working,
let us know and maybe one of the old hands will help out.

On Tue, Aug 16, 2016 at 11:00 AM, aimechris notifications@github.com
wrote:

[2016-08-30 16:46] joncotton commented on #102
Ditto, sadly. Some of the more recently updated Armstrong components are standalone and usable though not updated for the latest Django versions. What is your use case @aimechris? What organization?

[2017-01-02 10:17] #102 closed, assigned to nobody